.stats {
  padding: 109.5px 0 75px;
}

.stats_grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
}

.stats_left {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 0 0 33%
}

.stats_left_top {
  display: flex;
  gap: 30px;
  flex: 50% 50%;
}

.stats_right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.stats_rigth_top_left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.stats_rigth_top_rigth {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.stats_card {
  display: flex;
  flex-direction: column;
  gap: 75px;
  justify-content: space-between;
  opacity: 1;
  border-radius: 50px;
  padding: 50px;
  background-color: rgb(108, 110, 105);
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
}

.stat_card_number {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 3;
}

.stat_card_number h4 {
  font-family: Century Gothic Paneuropean;
  font-weight: 600;
  font-style: Regular;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.stat_card_number p {
  font-weight: 400;
  font-style: Regular;
  font-size: 28px;
  color: #A3E635;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin: 0;
}

.stat_card_description {
  font-weight: 300;
  font-style: Light;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

/* first card */
.stats_left_top_first {
  background-color: #FFFFFF1A;
}

.stat_left_card_bg_first {
  position: absolute;
  left: -20%;
  top: -30%;
  transform: translate(-50%, -50%);
}



/* second card */
.stats_left_top_second {
  background-color: #ff1f8f8c;
}


.stat_left_card_bg_second {
  position: absolute;
  left: 100%;
  top: -100%;
  transform: translate(-50%, -20%)
}


/* third card */
.stats_left_bottom {
  height: 100%;
  background-color: #A3E63580;
}

.stat_left_card_bg_third {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 98%;
  top: -8%;
}


/* fourth card */

.stats_card_fourth {
  background-color: #3B82F680;
}

.stat_left_card_bg_fourth {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 90%;
  top: 0%;
}

.stat_left_card_bg_fourth img {
  width: 1300px;
  height: auto;
}


/* fifth */

.stats_card_fifth {
  background-color: #FFFFFF1A;
  height: 200%;
}

.stat_left_card_bg_fifth {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 100%;
}

/* sixth */

.stats_card_sixth {
  background-color: #FF1F8F80;
  height: 100%;
  padding: 45px 40px;
}

.stats_card_sixth_number {
  flex-direction: row;
  gap: 37.5px;
  align-items: center;
  color: white;
}

.stats_card_sixth_number h5 {
  color: white;
  font-family: Century Gothic Paneuropean;
  font-weight: 600;
  font-style: Regular;
  font-size: 30px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  transform: translateY(5px);
}

.stat_left_card_bg_sixth {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 100%;
  top: -40%;
}


/* seventh */

.stats_card_seventh {
  background-color: #FFFFFF1A;
}

.stat_left_card_bg_seventh {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 70%;
  top: 0%;
}


@media (max-width:1560px) {
  .stats {
    padding: 50px 0;
  }

  .stats_grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 28px;
  }

  .stats_left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    flex: 0 0 33%
  }

  .stats_left_top {
    display: flex;
    gap: 28px;
    flex: 50% 50%;
  }

  .stats_right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  .stats_rigth_top_left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 28px;
  }

  .stats_rigth_top_rigth {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  .stats_card {
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: space-between;
    opacity: 1;
    border-radius: 50px;
    padding: 36px;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
  }

  .stat_card_number {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .stat_card_number h4 {
    font-family: Century Gothic Paneuropean;
    font-weight: 400;
    font-style: Regular;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  .stat_card_number p {
    font-weight: 400;
    font-style: Regular;
    font-size: 26px;
    color: #A3E635;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin: 0;
  }

  .stat_card_description {
    font-weight: 300;
    font-style: Light;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  /* first card */
  .stats_left_top_first {
    background-color: #FFFFFF1A;
  }

  .stat_left_card_bg_first {
    position: absolute;
    left: 120%;
    top: -30%;
    transform: translate(-50%, -50%);
  }


  /* second card */
  .stats_left_top_second {
    background-color: #ff1f8f8c;
  }


  .stat_left_card_bg_second {
    position: absolute;
    left: 100%;
    top: -120%;
    transform: translate(-50%, -20%)
  }


  /* third card */
  .stats_left_bottom {
    height: 100%;
    background-color: #A3E63580;
  }

  .stat_left_card_bg_third {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 98%;
    top: -8%;
  }


  /* fourth card */

  .stats_card_fourth {
    background-color: #3B82F680;
  }

  .stat_left_card_bg_fourth {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 90%;
    top: 0%;

  }

  .stat_left_card_bg_fourth img {
    width: 1000px;
    height: auto;
  }


  /* fifth */

  .stats_card_fifth {
    background-color: #FFFFFF1A;
    height: 300%;
  }

  .stat_left_card_bg_fifth {
    position: absolute;
    transform: translate(-50%, -50%) scale(.8);
    left: 100%;
  }

  /* sixth */

  .stats_card_sixth {
    background-color: #FF1F8F80;
    height: 100%;
    padding: 45px 40px;
  }

  .stats_card_sixth_number {
    flex-direction: row;
    gap: 37.5px;
    align-items: center;
    color: white;
  }

  .stats_card_sixth_number h5 {
    color: white;
    font-family: Century Gothic Paneuropean;
    font-weight: 400;
    font-style: Regular;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    transform: translateY(5px);
  }

  .stat_left_card_bg_sixth {
    position: absolute;
    transform: translate(-50%, -50%) scale(.8);
    left: 100%;
    top: -40%;
  }


  /* seventh */

  .stats_card_seventh {
    background-color: #FFFFFF1A;
  }

  .stat_left_card_bg_seventh {
    position: absolute;
    transform: translate(-50%, -50%) scale(.8);
    left: 70%;
    top: 0%;
  }
}


@media (max-width:1200px) {
  .stats {
    padding: 37.5px 0;
  }

  .stats_grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 25px;
  }

  .stats_left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex: 0 0 33%
  }

  .stats_left_top {
    display: flex;
    gap: 25px;
    flex: 50% 50%;
  }

  .stats_right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .stats_rigth_top_left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  .stats_rigth_top_rigth {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .stats_card {
    display: flex;
    flex-direction: column;
    gap: 45px;
    justify-content: space-between;
    opacity: 1;
    border-radius: 37.5px;
    padding: 30px;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
  }

  .stat_card_number {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .stat_card_number h4 {
    font-family: Century Gothic Paneuropean;
    font-weight: 400;
    font-style: Regular;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  .stat_card_number p {
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    color: #A3E635;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin: 0;
  }

  .stat_card_description {
    font-weight: 300;
    font-style: Light;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  /* first card */
  .stats_left_top_first {
    background-color: #FFFFFF1A;
  }

  .stat_left_card_bg_first {
    position: absolute;
    left: 120%;
    top: -30%;
    transform: translate(-50%, -50%) scale(.8);
  }


  /* second card */
  .stats_left_top_second {
    background-color: #ff1f8f8c;
  }


  .stat_left_card_bg_second {
    position: absolute;
    left: 100%;
    top: -150%;
    transform: translate(-50%, -20%) scale(.7)
  }


  /* third card */
  .stats_left_bottom {
    height: 100%;
    background-color: #A3E63580;
  }

  .stat_left_card_bg_third {
    position: absolute;
    transform: translate(-50%, -50%) scale(.8);
    left: 98%;
    top: -8%;
  }


  /* fourth card */

  .stats_card_fourth {
    background-color: #3B82F680;
  }

  .stat_left_card_bg_fourth {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 90%;
    top: 0%;

  }

  .stat_left_card_bg_fourth img {
    width: 800px;
    height: auto;
  }


  /* fifth */

  .stats_card_fifth {
    background-color: #FFFFFF1A;
    height: 300%;
  }

  .stat_left_card_bg_fifth {
    position: absolute;
    transform: translate(-50%, -50%) scale(.7);
    left: 100%;
  }

  /* sixth */

  .stats_card_sixth {
    background-color: #FF1F8F80;
    height: 100%;
    padding: 45px 40px;
  }

  .stats_card_sixth_number {
    flex-direction: row;
    gap: 37.5px;
    align-items: center;
    color: white;
  }

  .stats_card_sixth_number h5 {
    color: white;
    font-family: Century Gothic Paneuropean;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    transform: translateY(5px);
  }

  .stat_left_card_bg_sixth {
    position: absolute;
    transform: translate(-50%, -50%) scale(.7);
    left: 100%;
    top: -40%;
  }


  /* seventh */

  .stats_card_seventh {
    background-color: #FFFFFF1A;
  }

  .stat_left_card_bg_seventh {
    position: absolute;
    transform: translate(-50%, -50%) scale(.7);
    left: 70%;
    top: 0%;
  }
}

@media (max-width:960px) {
  .stats {
    padding: 50px 0;
  }

  .stats_grid {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  .stats_left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    flex: 0 0 33%
  }

  .stats_left_top {
    display: flex;
    gap: 28px;
    flex: 50% 50%;
  }

  .stats_right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  .stats_rigth_top_left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 28px;
  }

  .stats_rigth_top_rigth {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  .stats_card {
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: space-between;
    opacity: 1;
    border-radius: 50px;
    padding: 36px;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
  }

  .stat_card_number {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .stat_card_number h4 {
    font-family: Century Gothic Paneuropean;
    font-weight: 400;
    font-style: Regular;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  .stat_card_number p {
    font-weight: 400;
    font-style: Regular;
    font-size: 26px;
    color: #A3E635;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin: 0;
  }

  .stat_card_description {
    font-weight: 300;
    font-style: Light;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  /* first card */
  .stats_left_top_first {
    background-color: #FFFFFF1A;
  }

  .stat_left_card_bg_first {
    position: absolute;
    left: 120%;
    top: -30%;
    transform: translate(-50%, -50%);
  }


  /* second card */
  .stats_left_top_second {
    background-color: #ff1f8f8c;
  }


  /* third card */
  .stats_left_bottom {
    height: 100%;
    background-color: #A3E63580;
  }

  .stat_left_card_bg_third {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 98%;
    top: -8%;
  }


  /* fourth card */

  .stats_card_fourth {
    background-color: #3B82F680;
  }

  .stat_left_card_bg_fourth {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 90%;
    top: 0%;

  }

  .stat_left_card_bg_fourth img {
    width: 1000px;
    height: auto;
  }


  /* fifth */

  .stats_card_fifth {
    background-color: #FFFFFF1A;
    height: 300%;
  }

  .stat_left_card_bg_fifth {
    position: absolute;
    transform: translate(-50%, -50%) scale(.8);
    left: 100%;
  }

  /* sixth */

  .stats_card_sixth {
    background-color: #FF1F8F80;
    height: 100%;
    padding: 45px 40px;
  }

  .stats_card_sixth_number {
    flex-direction: row;
    gap: 37.5px;
    align-items: center;
    color: white;
  }

  .stats_card_sixth_number h5 {
    color: white;
    font-family: Century Gothic Paneuropean;
    font-weight: 400;
    font-style: Regular;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    transform: translateY(5px);
  }

  .stat_left_card_bg_sixth {
    position: absolute;
    transform: translate(-50%, -50%) scale(.8);
    left: 100%;
    top: -40%;
  }


  /* seventh */

  .stats_card_seventh {
    background-color: #FFFFFF1A;
  }

  .stat_left_card_bg_seventh {
    position: absolute;
    transform: translate(-50%, -50%) scale(.8);
    left: 70%;
    top: 0%;
  }
}


@media (max-width:720px) {
  .stats {
    padding: 37.5px 0;
  }

  .stats_grid {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .stats_left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex: 0 0 33%
  }

  .stats_left_top {
    display: flex;
    gap: 25px;
    flex: 50% 50%;
  }

  .stats_right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .stats_rigth_top_left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  .stats_rigth_top_rigth {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .stats_card {
    display: flex;
    flex-direction: column;
    gap: 45px;
    justify-content: space-between;
    opacity: 1;
    border-radius: 37.5px;
    padding: 30px;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
  }

  .stat_card_number {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .stat_card_number h4 {
    font-family: Century Gothic Paneuropean;
    font-weight: 400;
    font-style: Regular;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  .stat_card_number p {
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    color: #A3E635;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin: 0;
  }

  .stat_card_description {
    font-weight: 300;
    font-style: Light;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  /* first card */
  .stats_left_top_first {
    background-color: #FFFFFF1A;
  }

  .stat_left_card_bg_first {
    position: absolute;
    left: 120%;
    top: -30%;
    transform: translate(-50%, -50%) scale(.8);
  }


  /* second card */
  .stats_left_top_second {
    background-color: #ff1f8f8c;
  }


  /* third card */
  .stats_left_bottom {
    height: 100%;
    background-color: #A3E63580;
  }

  .stat_left_card_bg_third {
    position: absolute;
    transform: translate(-50%, -50%) scale(.8);
    left: 98%;
    top: -8%;
  }


  /* fourth card */

  .stats_card_fourth {
    background-color: #3B82F680;
  }

  .stat_left_card_bg_fourth {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 90%;
    top: 0%;

  }

  .stat_left_card_bg_fourth img {
    width: 800px;
    height: auto;
  }


  /* fifth */

  .stats_card_fifth {
    background-color: #FFFFFF1A;
    height: 300%;
  }

  .stat_left_card_bg_fifth {
    position: absolute;
    transform: translate(-50%, -50%) scale(.7);
    left: 100%;
  }

  /* sixth */

  .stats_card_sixth {
    background-color: #FF1F8F80;
    height: 100%;
    padding: 45px 40px;
  }

  .stats_card_sixth_number {
    flex-direction: row;
    gap: 37.5px;
    align-items: center;
    color: white;
  }

  .stats_card_sixth_number h5 {
    color: white;
    font-family: Century Gothic Paneuropean;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    transform: translateY(5px);
  }

  .stat_left_card_bg_sixth {
    position: absolute;
    transform: translate(-50%, -50%) scale(.7);
    left: 100%;
    top: -40%;
  }


  /* seventh */

  .stats_card_seventh {
    background-color: #FFFFFF1A;
  }

  .stat_left_card_bg_seventh {
    position: absolute;
    transform: translate(-50%, -50%) scale(.7);
    left: 70%;
    top: 0%;
  }
}


@media (max-width:600px) {
  .stats {
    padding: 37.5px 0;
  }

  .stats_grid {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .stats_left {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    flex: 0 0 33%
  }

  .stats_left_top {
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex: 50% 50%;
  }

  .stats_right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .stats_rigth_top_left {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .stats_rigth_top_rigth {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  .stats_card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    opacity: 1;
    border-radius: 37.5px;
    padding: 20px;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
  }

  .stat_card_number {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .stat_card_number h4 {
    font-family: Century Gothic Paneuropean;
    font-weight: 400;
    font-style: Regular;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  .stat_card_number p {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    color: #A3E635;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin: 0;
  }

  .stat_card_description {
    font-weight: 300;
    font-style: Light;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  /* first card */
  .stats_left_top_first {
    background-color: #FFFFFF1A;
  }

  .stat_left_card_bg_first {
    position: absolute;
    left: 10%;
    top: 0%;
    transform: translate(-50%, -50%) scale(.5);
    will-change: transform, filter;
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }

  .stat_left_card_bg_first::before {
    content: '';
    position: absolute;
    inset: 0;
    filter: blur(4px);
    will-change: filter;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }


  /* second card */
  .stats_left_top_second {
    background-color: #ff1f8f8c;
  }

  
.stat_left_card_bg_second{
  position: absolute;
  left: 120%;
  top: -300%;
  transform: translate(-50%,-20%) scale(.6)
}


  /* third card */
  .stats_left_bottom {
    height: 100%;
    background-color: #A3E63580;
  }

  .stat_left_card_bg_third {
    position: absolute;
    transform: translate(-50%, -50%) scale(.6);
    left: 98%;
    top: -8%;
  }


  /* fourth card */

  .stats_card_fourth {
    background-color: #3B82F680;
  }

  .stat_left_card_bg_fourth {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 90%;
    top: 0%;
  }

  .stat_left_card_bg_fourth img {
    width: 600px;
    height: auto;
  }


  /* fifth */

  .stats_card_fifth {
    background-color: #FFFFFF1A;
    height: 100%;
  }

  .stat_left_card_bg_fifth {
    position: absolute;
    transform: translate(-50%, -50%) scale(.6);
    left: 140%;
  }

  /* sixth */

  .stats_card_sixth {
    background-color: #FF1F8F80;
    height: 100%;
    padding: 30px 20px;
  }

  .stats_card_sixth_number {
    flex-direction: column;
    gap: 25px;
    align-items: start;
    color: white;

  }

  .stats_card_sixth_number h5 {
    color: white;
    font-family: Century Gothic Paneuropean;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    transform: translateY(5px);
  }

  .stat_left_card_bg_sixth {
    position: absolute;
    transform: translate(-50%, -50%) scale(.6);
    left: 150%;
    top: -40%;
  }

  /* seventh */

  .stats_card_seventh {
    background-color: #FFFFFF1A;
  }

  .stat_left_card_bg_seventh {
    position: absolute;
    transform: translate(-50%, -50%) scale(.6);
    left: 100%;
    top: 50%;
  }
}