*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Century Gothic", sans-serif;
  
}

body{
  background-color: black;
}

html {
  scroll-behavior: smooth;
}


@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/CenturyGothic-Regular.woff2") format("woff2"),
       url("/fonts/CenturyGothic-Regular.woff") format("woff"),
       url("/fonts/CenturyGothic-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/CenturyGothic_Bold.woff2") format("woff2"),
       url("/fonts/CenturyGothic_Bold.woff") format("woff"),
       url("/fonts/CenturyGothic_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Century Gothic Paneuropean";
  src: url("/fonts/CenturyGothicPaneuropeanRegular.woff2") format("woff2"),
       url("/fonts/CenturyGothicPaneuropeanRegular.woff") format("woff"),
       url("/fonts/CenturyGothicPaneuropeanRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 100%;
  max-width: clamp(400px, 92%, 1770px);
  margin: 0 auto;
  padding: 0 16px;
}

a{
  list-style: none;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

textarea {
  resize: none;
}